.p1 {
    font-family: 'Didact Gothic';font-size: 18px;
}
.p2 {
    font-family: 'Didact Gothic';font-size: 44px;
}
main {
    margin-right: 200px;
    margin-left: 200px;
}
footer {
    margin-right: 200px;
    margin-left: 200px;
}
ul {
    list-style-type: none;
    margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
     font-family: 'Didact Gothic';
    }
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
}
    
.active1:hover {
    background-color: #55CDFC;
}
.active2:hover {
    background-color: #FFFFFF;
}
.active3:hover {
    background-color: #F7A8B8;
}
div {
    width: 100px;
    height: 100px;
    transition: width 2s;
    transition-timing-function: ease;
    white-space: nowrap;
    text-overflow: hidden;
    text-align: center;
}
#div1 {background: #55CDFC;}
#div2 {background: #FFFFFF;}
#div3 {background: #F7A8B8;}
div:hover {
    width: 600px;
}
body {
    margin:0;
}